<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="%{{ url_for('static', filename='css/app.css') }}%"
          media="screen,projection"
          rel="stylesheet"
          type="text/css"/>
    <link href="%{{ url_for('static', filename='css/materialize.min.css') }}%"
          media="screen,projection"
          rel="stylesheet"
          type="text/css"/>
    <link href="%{{ url_for('static', filename='css/lightbox.min.css') }}%"
          media="screen,projection"
          rel="stylesheet"
          type="text/css"/>
    <title>webGallery</title>
    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>

<body>
<nav id="no-style-nav">
    <div class="nav-wrapper">
        <div class="container">
            <a class="brand-logo" href="#!">webGallery</a>
        </div>
    </div>
</nav>

<div class="container">
    <div id="app">
        <nav>
            <div class="nav-wrapper breadcrumbs">
                <div class="col s12">
                    <open-dir-tags @go_to_dir="goToDir"
                                   style="margin-top: 10px"
                                   v-bind:item="item"
                                   v-bind:key="item.id"
                                   v-for="item in openDirs"
                    ></open-dir-tags>
                </div>
            </div>
        </nav>

        <div class="row" id="search-bar">

            <div class="col s12">
                <div class="row">
                    <div class="col s6 l2 input-field" v-if="!isFlatView">
                        <a class="waves-effect waves-light btn" v-on:click="flatView">
                            <i class="material-icons left">visibility</i>
                            flat view
                        </a>
                    </div>
                    <div class="col s6 l2 input-field" v-if="isFlatView">
                        <a class="waves-effect waves-light btn" v-on:click="dirView">
                            <i class="material-icons left">folder</i>
                            dir view
                        </a>
                    </div>
                    <div class="col s6 l3 input-field">
                        <a class="waves-effect waves-light btn" :href="'zipDir/' + currentDir + (isFlatView?'?flat=yes':'')">
                            <i class="material-icons left">file_download</i>
                            download
                        </a>
                    </div>
                    <div class="input-field col s12 l7">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="search-input" class="search" v-model="filterValue">
                        <label for="search-input">Search</label>
                    </div>
                </div>
            </div>
        </div>

        <section v-if="error">
            Error happened.
        </section>
        <section v-else-if="loading">
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </section>
        <section v-else>
            <div class="row">
                <gallery-card-item
                        @open_item="openItem"
                        v-bind:current_dir="currentDir +'\\'"
                        v-bind:item="item"
                        v-bind:key="item.id"
                        v-for="item in filteredData"
                ></gallery-card-item>
            </div>
        </section>

    </div>

    <script src="%{{ url_for('static', filename='js/lightbox-plus-jquery.min.js') }}%" type="text/javascript"></script>
    <script src="%{{ url_for('static', filename='js/axios.min.js') }}%" type="text/javascript"></script>
    <script src="%{{ url_for('static', filename='js/vue.min.js') }}%" type="text/javascript"></script>
    <script src="%{{ url_for('static', filename='js/vue-lazyload.js') }}%" type="text/javascript"></script>
    <script src="%{{ url_for('static', filename='js/materialize.min.js') }}%" type="text/javascript"></script>
    <script src="%{{ url_for('static', filename='js/layout.js') }}%" type="text/javascript"></script>
    <script src="%{{ url_for('static', filename='js/app.js') }}%" type="text/javascript"></script>
</body>
</html>